<form (ngSubmit)="handleSearch($event)" [formGroup]="employee">
  <div class="flex gap-3 items-start">
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Phone Number</mat-label>
      <input matInput formControlName="phoneNumber" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Position</mat-label>
      <mat-select formControlName="position">
        <mat-option *ngFor="let position of positions; let i = index" [value]="position">{{ position }}</mat-option>
      </mat-select>
    </mat-form-field>

    <button matFab aria-label="Search button" type="submit">
      <mat-icon class="text-2xl m-3">search</mat-icon>
    </button>
  </div>
</form>

